body {
  font-family: 'Ariel', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.Page {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    min-height: 100vh;
}

.kanban-board {
  
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;;
  margin-bottom: 20px;
}

.group-header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #e9f3f6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.controls button {
  padding: 10px;
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  outline: none;
  transition: background-color 0.3s;
}

.controls button:hover {
  background-color: #2980b9;
}

.ticket-container {
  display: flex;
  flex-wrap: wrap;
}

.ticket-group {
  flex: 1;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 5px;
  margin: 0 10px 20px 0;
}

.ticket-group h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.ticket-card {
  background-color: #ecf0f1;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.ticket-card:hover {
  background-color: #dfe6e9;
}

.ticket-card p {
  margin: 5px 0;
}

.priority-4 {
  background-color: #e74c3c;
  color: #fff;
}

.priority-3 {
  background-color: #e67e22;
  color: #fff;
}

.priority-2 {
  background-color: #3498db;
  color: #fff;
}

.priority-1 {
  background-color: #2ecc71;
  color: #fff;
}

.priority-0 {
  background-color: #bdc3c7;
  color: #333;
}

/* Add these styles to your existing CSS */

.ticket-card {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.top-layer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.task-title {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  /* align-items: center; */
}

.id {
  font-weight: bold;
  text-transform: uppercase;
  color: #888;
}

.title {
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
}

.profile-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.profile-pic {
  width: 30px;
  height: 30px;
  background-color: #3498db;
  border-radius: 50%;
}

.status-indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.status-indicator {
  position: absolute;
  top: 50px;
  right: 18px;
  background-color: #2ecc71; 
}

.status-indicator.In progress {
  background-color: #e74c3c; 
}

.alert-tag-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  
}

.alert-icon {
  width: 35px;
  height: 35px;
  background-color: #f3f3fac3;
  border-radius: 10%;
  border-color: #888282;
  border-width: 1px;
  border-style: solid;
  margin-right: 5px;
}

.alert-icon.active {
  animation: pulse 1s infinite; /* Example animation, add your own */
}

.tag {
  cursor: pointer;
  padding: 8px;
  background-color: #f3f3fac3;
  color: #2c2b2b;
  border-radius: 4px;
  border-color: #888282;
  border-width: 1px;
  border-style: solid;
}

.icon-circle {
  width: 30px;
  height: 30px;
  background-color: #3498db;
  border-radius: 50%;
  margin-right: 10px; /* Adjust margin as needed */
}




@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Add or modify these styles in your existing CSS */

.dropdown-menu {
  position: relative;
  display: inline-block;
}

button {
  background: none;
  border: none;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-menu button {
  width: 100%;
}

.dropdown-menu button:hover {
  background-color: #f4f4f4;
}

.dropdown-menu svg {
  margin-right: 10px;
}

.dropdown-menu {
  /* position: relative; */
  /* width: 90%; */
  left: 3%;
  width: 90%; 
  background-color: #fff;
  padding: 1px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

